<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736471664361-2vspg54mk1n5mc76k0f7d9ccn3gtbipi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736471664361-2vspg54mk1n5mc76k0f7d9ccn3gtbipi</string>
	<key>API_KEY</key>
	<string>AIzaSyDuFB49Hw__vgbw7b7EL7dy-BCcvxT2QHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>736471664361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crpatil1901.Scheduler</string>
	<key>PROJECT_ID</key>
	<string>scheduler-3ab9f</string>
	<key>STORAGE_BUCKET</key>
	<string>scheduler-3ab9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736471664361:ios:d985678ae6815ad9b15278</string>
</dict>
</plist>